################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/RP3/FileContentIndex/d315b3d7-1da4-4de9-b0a7-ffffd19d5132.vsidx
/.vs/RP3/FileContentIndex
/.vs/PythonSettings.json
/.vs
